server {
    listen 8999;

    location /static/ {
      alias /home/nginx_user/production_app/app/static/;
      index static.html;
    }

    location / {
      include uwsgi_params;
      proxy_pass http://localhost:8000;
    }
}
