[Unit]
Description=uWSGI instance to serve flask_production
After=network.target

[Service]
User=docker
Group=www-data
WorkingDirectory=/home/flask_production
Environment="PATH=/home/flask_production/venv/bin"
ExecStart=/home/flask_production/venv/bin/uwsgi --ini flask_production.ini

[Install]
WantedBy=multi-user.target
